.AllTasksContainer {
  font-size: 1.5rem;
  display: flex;
  flex-flow: column;
  align-items: center;
}

/* snackbar */
.SnackbarLeft {
  max-width: 300px;
}

.SnackbarRight {
  margin-left: 40px;
  height: 100%;
  display: flex;
  align-items: center;
}

.UndoButton {
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  background-color: #eee;
}

.UndoButton:hover {
  background-color: #fff;
}

.UndoButton:focus {
  outline: none;
}

.CreateNewTaskButtonContainer {
  position: fixed;
  padding: 10px;
  bottom: 0;
  right: 0;
}
