.OptionsPageContainer {
  margin: 20px 10px 10px 10px;
}

.OptionContainer {
  margin: 10px 5px 10px 5px;
  display: flex;
  align-items: center;
}

.OptionLabel {
  font-weight: 600;
  margin-right: 5px;
}

.OptionOptions label {
  margin-right: 5px;
}

.RedirectingPromptContainer {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
