.AddSomethingButton {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #28a745;
  background-color: #28a745;
  color: white;
  padding: 2px 8px;
  opacity: 0.8;
  transition: all 0.1s ease-in;
  cursor: pointer;
}

.GoToNewTabBtn {
  font-weight: 600;
  font-size: 1.3rem;
  cursor: pointer;
}

.GoToNewTabBtn:hover {
  text-decoration: underline;
}

.Main {
  margin-top: 60px;
  overflow: auto;
  display: flex;
  justify-content: space-around;
}

.Content {
  background-color: transparent;
  min-height: 300px;
  max-width: 80%;
  min-width: 70%;
}

@media (max-width: 700px) {
  .Content {
    max-width: 100%;
  }
}
