.PanelContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 5px 5px 5px;
}

.Section {
  margin-bottom: 9px;
}

.SectionHeader {
  font-size: 16px;
  font-weight: 800;
  display: flex;
  align-items: center;
}

.HeaderButtonAlignRight {
  flex: 1;
  text-align: right;
}

.AddButton {
  font-size: 11px;
  font-weight: 400;
  color: #666;
  cursor: pointer;
  user-select: none;
}

.AddButton:hover {
  text-decoration: underline;
}

.UpToDate {
  border-radius: 5px;
  border: 1px solid rgb(36, 168, 3);
  padding: 1px 2px;
  margin: 0px 3px;
}

.NotUpToDate {
  border-radius: 5px;
  border: 1px solid rgb(241, 46, 12);
  padding: 1px 2px;
  margin: 0px 3px;
}

.SectionHeaderIcon {
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  margin-right: 4px;
}

.SectionContent {
  font-weight: 400;
  margin-left: 16px;
  font-size: 13px;
}

.GoalTextareaContainer {
  display: flex;
  align-items: center;
}

.FirstQueryIndicator {
  font-size: 10px;
  color: #666;
  font-style: italic;
}

.SectionContent p {
  margin: 3px 0px 0px 0px;
}

.SectionFooter {
  margin-left: 16px;
  font-size: 13px;
}

.LinkToElsewhere {
  display: inline-block;
  text-align: left;
  font-size: 11px;
  color: #666;
  cursor: pointer;
}

.LinkToElsewhere:hover {
  text-decoration: underline;
}

.ListItem {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  color: #333;

  margin: 4px 4px;
  padding: 1px 4px;
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);

  position: relative;
}

.ListItem:hover .DeleteIcon {
  display: flex;
}

.DeleteIcon {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;

  display: none;
  justify-content: center;
  align-items: center;
  font-size: 9px;
  top: -4px;
  right: -6px;
  cursor: pointer;
}

.DeleteIcon:hover {
  background-color: lightgray;
}

.Textarea {
  display: block;
  box-sizing: border-box;
  width: 90%;
  resize: none;
  overflow: auto;

  font-size: 13px;
  padding: 2px 4px;

  border: 1px solid transparent;
  border-radius: 4px;
  color: #000;
  background: transparent !important;
}

.Textarea:hover {
  border: 1px solid rgb(226, 226, 226);
}

.Textarea:focus {
  color: #35383a;
  background-color: #fff;
  border-color: rgb(17, 100, 224);
  outline: none;
}

.AddingNewEnvContainer {
  font-size: 12px;

  width: 70%;
  max-width: 300px;
}

.Textarea.NewEnv {
  width: 100%;

  font-size: 12px;
  padding: 3px 4px;

  border: 1px solid rgb(226, 226, 226);
  border-radius: 4px;
  color: #000;
  background: transparent !important;
}

.Textarea.NewEnv :hover {
  border: 1px solid rgb(187, 187, 187);
}

.Textarea.NewEnv :focus {
  color: #35383a;
  background-color: #fff;
  border-color: rgb(17, 100, 224);
  outline: none;
}

.AddNewEnvButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  color: #007bff;
  border: 1px solid#007bff;
  padding: 0px 6px;
  font-size: 11px;
  height: 20px;
  width: 60px;
  border-radius: 5px;
  cursor: pointer;

  /* transition: all 0.1s ease-in; */
}

.AddNewEnvButton.Disabled {
  cursor: not-allowed;
  pointer-events: all !important;
  color: #007bff !important;
  background-color: transparent !important;
  opacity: 0.4;
}

.AddNewEnvButton:hover {
  color: #fff;
  background-color: #007bff;
}

.AddNewEnvButton:focus,
.CancelEnvButton:focus {
  outline: none;
}

.CancelEnvButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  color: #ff1e00c7;
  border: 1px solid#ff1e00c7;
  padding: 0px 6px;
  font-size: 11px;
  height: 20px;
  width: 60px;
  border-radius: 5px;
  cursor: pointer;
}

.CancelEnvButton:hover {
  color: #fff;
  background-color: #ff1e00c7;
}
