.ColumnHeaderCell {
  position: relative;
  transition: all 0.15s ease-in;
}

.ColumnHeaderCellContainer {
  box-sizing: border-box;
  min-width: 40px;
  min-height: 40px;
  max-width: 50px;
  max-height: 60px;
  font-weight: 300;
  transition: all 0.1s ease-in;
}

.DeleteColumnIconContainer {
  position: absolute;
  top: -15px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.1s ease-in;
}

.ColumnHeaderCell:hover .DeleteColumnIconContainer {
  opacity: 1;
}
