.BaseComponentContainer {
  /* border: 1px solid black; */
  font-size: 12px;
}
.BaseComponentHeader {
  font-size: 1em;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #666;
  user-select: none;
}

.BaseComponentHeader:hover {
  text-decoration: underline;
}
