.SourceQueriesViewContainer {
}

.InfoBar {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
}

.InfoItem {
  margin: 0px 3px;
  cursor: pointer;
  transition: all 0.1s ease-in;
  border-radius: 10px;
  padding: 1px 6px;
}

.InfoItem:hover {
  background-color: lightgray;
}

.PopoverContainer {
  opacity: 1;
  background-color: white;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 0px 8px;
}

.ItemContainer {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;

  transition: all 0.1s ease-in;
}

.ItemContainer:hover {
  background-color: rgb(233, 233, 233);
}

.NameContainer {
  display: flex;
  align-items: center;
}

.ItemIcon {
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  margin-right: 4px;
}

.QueryContent {
  font-weight: 500;
}

.TimeContainer {
  flex-shrink: 0;
  margin-left: 4px;
  font-size: 10px;
  color: gray;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
