.NavigationItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  flex-flow: row;
}

.NavigationItem {
  margin: 0px 15px;
  display: flex;
  height: 100%;
  align-items: center;
}

.NavigationItem a {
  text-align: center;
  min-width: 88px;
  min-height: 36px;
  font-size: 1.1rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: inherit;
  height: 100%;
  width: auto;
  opacity: 0.4;
  transition: all 0.1s ease-in-out;
}

.Label {
  font-weight: 600;
  margin-right: 10px;
}

.TaskName {
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
}

.InactiveNavigationItem a {
  cursor: default;
}

.ActiveNavigationItem a:hover {
  color: black;
  opacity: 0.8;
}

.InactiveNavigationItem a:hover {
  color: inherit;
  opacity: 0.4;
}

.ActiveNavigationItem a:active,
.ActiveNavigationItem a.active {
  color: black;
  opacity: 1;
}

.InactiveNavigationItem a:active,
.InactiveNavigationItem a.active {
  color: inherit;
  opacity: 0.4;
}
