.DropdownRoot {
  width: 90%;
}

.DropdownControl {
  max-width: 100%;
  text-overflow: ellipsis;
}

.DropdownPlaceholder {
  max-width: 95%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.DropdownMenu {
  max-height: 300px;
  overflow: auto;
}

.CreateNewClassName {
  background-color: rgb(192, 240, 192);
  font-style: italic;
  transition: all 0.1s ease-in;
}

.CreateNewClassName:hover {
  background-color: rgb(192, 240, 192) !important;
  font-weight: 600;
}

.AllTasksButton {
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.AllTasksButton:hover {
  transform: scale(1.05);
}
