.TaskCard {
  z-index: 999;
  font-size: 1.15rem;
  width: 220px;
  height: auto;
  margin: 20px 25px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  transition: all 0.06s ease-in;
}

.Header {
  display: flex;
  align-items: center;
  font-size: 0.80rem;
  padding: 3px 6px;
  justify-content: space-between;
}

.Header .Left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.Header .Right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.Header .StarIcon {
  cursor: pointer;
}

.Header .Starred {
  color: #ffeb3b;
}

.Header .NotStarred {
  
}

.Header .Time {
  font-size: 0.70rem;
  opacity: 0.7;
}

.Header .MoreIcon {
  opacity: 0.7;
  margin-left: 8px;
  cursor: pointer;
}

.DeleteTaskIcon {
  margin-left: 8px;
  opacity: 0.5;
  transition: all 0.1s ease-in;
  cursor: pointer;
}

.DeleteTaskIcon:hover {
  opacity: 1;
}


.TaskName {
  width: 70%;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 5px 15px;

  cursor: pointer;
}

.Footer {
  font-size: 0.80rem;
  opacity: 0.8;
}

.MetaInfo {
  padding: 0px 10px;
  margin-bottom: 3px;
}

.MetaInfo .Icon {
  margin-right: 10px;
}

.PoppedOver {
  z-index: 99999;
  background-color: rgba(247, 247, 247);
  padding: 3px 6px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.16), 0 1px 5px 0 rgba(0,0,0,0.12);
  transition: all 0.1s ease-in;
}

.PoppedOver:hover {
  cursor: pointer;
  background-color: #d9534f;
  color: white;
}