.TaskCard {
  z-index: 999;
  font-size: 1.15rem;
  width: 220px;
  height: auto;
  margin: 20px 15px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  transition: all 0.06s ease-in;
}

.Header {
  display: flex;
  align-items: center;
  font-size: 0.80rem;
  padding: 3px 6px;
  justify-content: space-between;
}

.Header .Left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.CurrentTaskBadge {
  margin-left: 15px;
  background-color: #f0ad4e;
  display: inline;
  padding: 1px 6px;
  font-size: 11px;
  border-radius: 4px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  cursor: default;
}

.Header .Right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.Header .StarIcon {
  cursor: pointer;
}

.Header .Starred {
  color: #ffeb3b;
}

.Header .Time {
  font-size: 0.70rem;
  opacity: 0.7;
}

.Header .MoreIcon {
  opacity: 0.7;
  margin-left: 8px;
  cursor: pointer;
}

.DeleteTaskIcon {
  margin-left: 8px;
  opacity: 0.3;
  transition: all 0.1s ease-in;
  cursor: pointer;
}

.DeleteTaskIcon:hover {
  opacity: 1;
}


.TaskName {
  width: 70%;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 5px 15px;

  cursor: pointer;
}

.TaskOngoingStatusContainer {
  font-size: 0.7rem;
  padding: 0px 10px;
  display: flex;
  justify-content: flex-end;
}

.TaskOngoingBadge {
  width: 20px;
  height: 20px;
  border-radius: 40%;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.TaskOngoingTrue {
  color: #fff;
  background-color: #4CAF50;
}

.TaskOngoingFalse {
  color: #fff;
  background-color: rgb(236, 123, 2);
}

.Footer {
  font-size: 0.80rem;
  opacity: 0.8;
}

.MetaInfo {
  padding: 0px 10px;
  margin-bottom: 3px;
}

.MetaInfo .Icon {
  margin-right: 10px;
}



.MoreIconContainer {
  margin-left: 2px;
  margin-right: -4px;
  width: 15px;
  display: flex;
  justify-content: space-around;
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  opacity: 0.4;
}

.MoreIconContainer:hover {
  opacity: 0.7;
}

.PopoverContainer {
  border-radius: 2px;
  border-width: 0;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  z-index: 99999;
}

.PopoverContentContainer {
  
}

.PopoverContentContainer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.PopoverContentContainer ul li {
  display: flex;
  align-items: center;
  padding: 5px 10px 5px 6px;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.PopoverContentContainer ul li:hover {
  background-color: #ddd;
}

.DeleteLi:hover {
  background-color: red !important;
  color: #fff;
}

.IconBoxInPopover {
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.IconInPopover {
  
}