.TaskCard:hover .Footer {
  opacity: 1;
}

.TaskName {
  cursor: pointer;
  transition: all 0.05s ease-in;
}

.TaskName:hover {
  text-decoration: underline;
}

.TaskOngoingStatusContainer {
  font-size: 0.7rem;
  padding: 0px 10px;
  display: flex;
  justify-content: flex-end;
}

.TaskOngoingBadge {
  width: 20px;
  height: 20px;
  border-radius: 40%;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.TaskOngoingTrue {
  color: #fff;
  background-color: #4caf50;
}

.TaskOngoingFalse {
  color: #fff;
  background-color: rgb(236, 123, 2);
}

.Footer {
  font-size: 0.8rem;
  opacity: 0.5;
  transition: all 0.1s ease-in;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4px;
}

.IconInsideAvatar {
  font-size: 10px;
}

.MetaInfo {
  padding: 0px 5px;
  margin-bottom: 3px;
  display: flex;
  align-items: center;
}

.MetaInfo .Icon {
  margin-right: 10px;
}

.MenuItem {
  display: flex;
  align-items: center;
  padding: 0px 6px;
  font-size: 12px;
}

.MenuItemIcon {
  margin-right: 4px;
  width: 16px;
  height: 16px;
}
