.RowHeaderCell {
  position: relative;
}

.RowHeaderCellContainer {
  box-sizing: border-box;
  min-width: 150px;
  min-height: 100px;
  padding: 10px 10px;
  font-weight: 500;

  transition: all 0.15s ease-in;
  /* border-left: none !important; */
}

.DeleteColumnIconContainer {
  position: absolute;
  top: 0px;
  left: -25px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
