.WorkspaceName {
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.CloseButton {
  transform: scale(0.6);
  transition: all 0.2s ease-in;
}

.CloseButton:hover {
  color: red;
  transform: scale(0.8);
}

.Textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  resize: none;
  overflow: auto;

  font-size: 16px;
  padding: 0px 4px;

  border: 1px solid transparent;
  border-radius: 4px;
  color: #000;
  background: transparent !important;
}

.Textarea:hover {
  border-color: rgb(226, 226, 226);
}

.Textarea:focus {
  color: #35383a;
  background-color: #fff;
  border-color: rgb(17, 100, 224);
  outline: none;
}
