.InfoIcon {
  margin-left: 6px;
  font-size: 11px;
  color: rgb(155, 155, 155);
}

.TooltipContainer {
  padding: 2px 6px;
  max-width: 300px;
  font-size: 11px;
  font-style: italic;
  line-height: 1rem;
  z-index: 999999999;
}
