.SnippetCard {
  font-size: 1.15rem;
  z-index: 89;
  width: 250px;
  height: auto;
  margin: 15px 10px;
  /* border: 1px solid lightgray; */
  /* border-radius: 3px; */
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10), 0 1px 3px 0 rgba(0,0,0,0.06);
  box-sizing: border-box;
  position: relative;
  transition: all 0.06s ease-in;
  pointer-events: auto;
  z-index: inherit;
}

.FamousCard {
  outline-style: dotted;
  outline-color: rgb(255, 153, 0);
  outline-width: 3px;
}

.SnippetCard:hover {
  z-index: 1000;
  transform: scale(1.05);

}

.Hide {
  display: none;
}

.Header {
  width: 100%;
  padding-top: 8px;
}

.TitleContainer {
  display: flex;
  align-items: center;
  width: 100%;
}

.CodeUsedContainer {
  width: 55%;
}

.CodeBadge {
  font-size: 24px;
  color: rgb(82, 184, 101);
  border-radius: 50%;
  border: 1px solid transparent;
  transition: all 0.1s ease-in;
}

.CodeBadge:hover {
  /* border: 2px solid red; */
  z-index: 999999;
  transform: scale(1.1);
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}

.CodeUsedTooltipHandle {
  font-size: 11px;
  display: flex;
  align-items: center;
}

.CodeUsedTooltipHandle span {
  color: #fff;
  background-color: #26a69a;border-radius: 2px;
  padding: 0 4px;
  line-height: 22px;
  height: 20px;
}

.CodeBadgeTooltip {
  z-index: 9999999;
  width: 350px !important;
  max-height: 500px !important;
  overflow: auto !important;
  opacity: 1 !important;
  margin: 0px 0px !important;
  padding: 0px 0px !important;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
  padding: 12px 12px !important;
  pointer-events: auto !important;

  background-color: white !important;

  /* visibility: visible !important; */
}

.CodeBadgeTooltip:hover {
  visibility: visible !important;
  opacity: 1 !important;
}

.CodeBadgeTooltipStats {
  font-size: 15px;
  font-weight: 600;
}

.CodebaseContainer {
  background: rgb(250, 250, 250);
  margin: 6px 0px;
  padding: 6px 12px;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}

.CodebaseIcon {
  color: gray;
  margin-right: 4px;
}

.CodebaseName {
  font-size: 17px;
  font-weight: 500;
  margin-right: 4px;
}

.CodeContentContainer pre {
  font-family: monospace;
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #f36d33;
  color: #666;
  page-break-inside: avoid;
  font-size: 12px;
  line-height: 1.3;
  margin-bottom: 6px;
  margin-top: 4px;
  max-width: 100%;
  overflow: auto;
  padding: 3px 8px;
  display: block;
  word-wrap: break-word;
  cursor: auto;
}

.FilePath {
  font-family: monospace;
  background: rgb(220, 226, 233);
  border-radius: 3px;
  padding: 1px 3px;
}

.Branch {
  background-color: rgb(79, 79, 79);
  color: white;
  margin-left: 4px;
  padding: 0px 3px;
}

.CommitMessage {
  /* border: 1px solid rgb(221,218,193); */
  background-color: rgb(56, 142, 192);
  color: white;
  padding: 0px 3px;
}

.InUseBadge {
  font-size: 10px;
  color: #fff;
  background-color: rgb(82, 184, 101);
  border-radius: 2px;
  padding: 1px 4px;
}

.LineNumber {
  cursor: pointer;
}

.LineNumber:hover {
  text-decoration: underline;
  color: rgb(56, 142, 192);
}

.DeletedBadge {
  font-size: 10px;
  color: #fff;
  background-color: rgb(202, 91, 84);
  border-radius: 2px;
  padding: 1px 4px;
}


.Title:hover {
  text-decoration: underline;
  cursor: pointer;
}


.Title {
  font-size: 1.0rem;
  font-weight: 600;
  word-wrap: break-word;
  padding-left: 10px;
  width: 75%;
}

.ContentInHeader {
  font-size: 0.90rem;
  font-weight: 500;
  padding-left: 0px;
  word-wrap: break-word;
}

.SiteInfo {
  display: flex;
  align-items: center;
  padding-left: 8px;
}

.SiteInfo .SiteIconContainer {
  margin-right: 5px;
}

.SiteInfo .SiteIconContainer .SiteIcon {
  width: 13px;
  border-radius: 3px;
  background: transparent;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16), 0 1px 5px 0 rgba(0,0,0,0.12);
}

.SiteInfo .SiteDomainName {
  font-size: 0.75rem;
  opacity: 0.5;
}

.BadgeContainer {
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.BadgeIcon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 10px;
  height: 10px;
  font-size: 8px;
  padding: 3px;
  margin: 8px 5px;
  border-radius: 3px;
  background-color: rgb(252, 246, 227);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2), 0 1px 3px 0 #00000030;
}

.ViewIcon {
  margin-left: 25px;
  opacity: 0.5;
  cursor: pointer;
  font-size: 0.9rem;
  color: inherit;
  transition: all 0.1s ease-in;
}

.ViewIcon:hover {
  opacity: 0.8;
}

.ExternalLink {
  margin-left: 8px;
  opacity: 0.5;
  cursor: pointer;
  font-size: 0.9rem;
  color: inherit;
  transition: all 0.1s ease-in;
  display: flex;
  align-items: center;
}

.ExternalLink:hover {
  opacity: 0.8;
}

.IconInside {
  font-size: 12px;
}


.Header .Right {
  margin-left: 8px;
  padding-top: 8px;
  padding-right: 12px;
}

.DeleteContainer {
  position: absolute;
  z-index: 100;
  top: 0px;
  right: 6px;
  opacity: 0.1;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.DeleteContainer .Icon {
  font-size: 0.8rem;
}

.DeleteContainer:hover {
  opacity: 0.8;
}



.NotesContainer {
  font-size: 0.70rem;
  opacity: 0.8;
  padding-bottom: 2px;
}

.NotesContent {
  padding: 0px 10px;
  font-size: 1.0rem;
  color: black;
}






.Footer {
  font-size: 0.70rem;
  opacity: 0.8;
  padding-bottom: 2px;
}

.MetaInfo {
  padding: 0px 10px;
  margin-bottom: 3px;
}

.MetaInfo .Icon {
  margin-right: 8px;
}




.ContentContainer {
  max-width: 95%;
  padding: 0px 8px;
  max-height: 200px;
  overflow: auto;
  opacity: 0.8;
  font-size: 1.0rem;
  transition: all 0.1s ease-in;
}

.ContentContainer:hover {
  opacity: 1.0;
}

.HTMLPreview:focus {
  outline: none;
}


.AttitudeContainer {
  padding: 0px 8px;
  margin-bottom: 5px;
}

.AttitudeContainer ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.AttitudeContainer ul li {
  margin: 5px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.OptionName {
  margin-left: 0px;
  font-size: 0.8rem;
  max-width: 95%;
  white-space: pre-wrap;
  word-break: keep-all;
  color: white;
  font-weight: 300;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  background-color: #4e89bc;
  padding: 2px 6px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.16), 0 1px 5px 0 rgba(0,0,0,0.12);

  position: relative;
}

.OptionStar {
  position: absolute;
  top: -6px;
  left: -6px;
  color: rgb(255, 232,90);
  transition: all 0.1s ease-in;
  opacity: 0;
  cursor: default;
}

.ActiveStar {
  opacity: 1;
}

.Ordinal {
  display: flex;
  justify-content: space-around;
  align-items: center;

  flex-shrink: 0;
  cursor: default;
  margin-right: 2px;
  width: 12px;
  height: 12px;
  text-align: center;
  border-radius: 50%;
  font-size: 10px;
  font-weight: 500;
  color: white;
  background-color: #f0ad4e;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 2px 4px rgba(0, 0, 0, 0.12);
}

.AttitudeListContainer {
  max-width: 40%;
  display: flex;
  flex-wrap: wrap;
}

.Attitude {
  margin-right: 2px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid transparent;
  transition: all 0.1s ease-in;
}

.Attitude:hover {
  /* border: 2px solid red; */
  transform: scale(1.1);
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}

.AttitudeOfRequirementTooltip {
  max-width: 200px !important;
  min-width: 100px !important;
  padding: 6px 6px !important;
  display: flex;
  flex-flow: row;
  align-items: center;
}



.PieceGroupNameContainer {
  text-shadow: 1px 1px 1px rgba(0,0,0,0.15);
  width: 90%;
  padding-left: 8px;
}

.PieceGroupNameContainer textarea {
  height: 100%;
  width: 100%;
  border: none;
  background-color: inherit;
  font-size: 14px;
  font-weight: 600;
  resize: none;
}

.PieceGroupNameContainer textarea:focus {
  outline: none;
}

.PieceGroupListContainer {
  font-size: 0.80rem;
}

.PieceGroupListContainer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.PieceGroupListContainer ul li {
  margin: 5px 0px;
  display: flex;
  align-items: center;
  width: 95%;
}

.Bullet {
  margin-right: 4px;
  opacity:0.5;
}

.PieceContainerInPieceGroup {

}

.PieceTitle {
  max-width: 93%;
  background-color: rgb(252, 240, 212);
  border-radius: 3px;
  padding: 0px 5px;
  border: 1px solid lightgray;
  word-wrap: break-word;
}

.Tooltip {
  max-width: 350px;
  min-width: 250px;
  overflow: auto;
  padding: 5px 5px !important;
  /* margin: 0 !important; */
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
  opacity: 1 !important;
  background-color: white !important;
  pointer-events: auto !important;
}

.Tooltip:hover {
  visibility: visible !important;
  opacity: 1 !important;
}

.ViewIconInTooltip {
  margin-left: 5px;
  opacity: 0.5;
  cursor: pointer;
  font-size: 0.9rem;
  color: inherit;
  justify-self: flex-end;
  transition: all 0.1s ease-in;
}

.ViewIconInTooltip:hover {
  opacity: 0.8;
}
