.InactiveOption {
  opacity: 0.1;
}

.OptionNameContainer {
  display: block;
  overflow: hidden;
  font-weight: 600;
  text-overflow: ellipsis;
  max-width: 250px;
  max-height: 150px;
  padding-right: 30px;
  transition: all 0.1s ease-in;
}

.OptionText:focus {
  outline: none;
}

.AttitudeThumbInTableCellContainer {
  display: flex;
  flex-wrap: wrap;
}

.AttitudeInTableCell {
  font-size: 1.8rem;
  margin-right: 5px;
  width: 40px;
  height: 40px;
  transition: all 0.1s ease-in;
  border-radius: 50%;
  border: 2px solid transparent;
}

/* .AttitudeInTableCellIsShowing, */
.AttitudeInTableCell:hover {
  /* border: 2px solid red; */
  transform: scale(1.1);
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
  z-index: 9999999;
}

.TooltipOverAttitude {
  /* overflow: auto; */
  max-width: 320px;
  margin: 0px 0px !important;
  padding: 0px 0px !important;
  /* margin: 0 !important; */
  /* box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19); */
  opacity: 1 !important;
  background-color: white !important;
  pointer-events: auto !important;
}

.TooltipOverAttitude:hover {
  visibility: visible !important;
  opacity: 1 !important;
}

.Ordinal {
  flex-shrink: 0;
  cursor: move;
  margin-right: 6px;
  padding: 3px 6px;
  width: 30px;
  text-align: center;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 500;
  color: white;
  background-color: #f0ad4e;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 2px 4px rgba(0, 0, 0, 0.12);
}