.Settings {
  display: flex;
  flex-flow: column;
  font-size: 1.15rem;
  margin-bottom: 10px;
  margin-left: 50px;
}

.TempDisable {
  margin-top: 10px;
  margin-right: 30px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

.Label {
  font-weight: 800;
  margin: 5px 0px;
  padding-bottom: 6px;
  display: flex;
  align-items: center;
}

.ConfigureIcon {
  opacity: 0.9;
  margin-right: 5px;
}

.Slider {
  margin-left: 20px;
}