.ColumnHeaderCell {
  position: relative;
  transition: all 0.1s ease-in;
}

.HoverToReveal {
  opacity: 0;
  transition: all 0.1s ease-in;
}

.ColumnHeaderCell:hover .CommentsContainer,
.ColumnHeaderCell:hover .HoverToReveal {
  opacity: 1;
}

.ColumnHeaderCellContainer {
  box-sizing: border-box;
  min-width: 150px;
  min-height: 60px;
  padding: 0px 0px 10px 0px;
  font-weight: 500;

  transition: all 0.15s ease-in;
  /* border-top: none !important; */
}

.ColumnHeaderPiecesContainer {
  width: 260px;
  min-height: 65px;
}

.ColumnHeaderPiecesContainer.Normal {
  opacity: 1;
}

.ColumnHeaderPiecesContainer.Fade {
  opacity: 0.2;
}

.DeleteColumnIconContainer {
  position: absolute;
  top: -24px;
  height: 24px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.1s ease-in;
}

.ColumnHeaderCell:hover .DeleteColumnIconContainer {
  opacity: 1;
}

.HideColumnIconContainer {
  position: absolute;
  top: -24px;
  height: 24px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.1s ease-in;
}

.ColumnHeaderCell:hover .HideColumnIconContainer {
  opacity: 1;
}

.ReorderColumnPromptContainer {
  position: absolute;
  font-weight: 500;
  font-size: 12px;
  top: -24px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ReorderPrompt {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.IndexIndicator {
}

.CellContentContainer {
  box-sizing: border-box;
  min-width: 150px;
  min-height: 100px;
  padding: 0px 0px 10px 0px;
  font-weight: 500;

  transition: all 0.15s ease-in;
  /* border-left: none !important; */

  display: flex;
  justify-content: center;
  align-items: center;
}

.Avatar {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 5px;
  margin-left: 5px;
}

.IconInsideAvatar {
  font-size: 16px;
}

.CellContentEditContainer {
  height: 100%;
  width: 100%;
}

.TextAreaContainer {
  flex: 1;
  margin-left: 5px;
  display: flex;
  align-items: flex-start;
}

.Textarea {
  display: block;
  box-sizing: border-box;
  width: 96%;
  resize: none;
  overflow: auto;

  font-size: 14px;
  font-weight: 500;
  padding: 2px 4px;

  border: 1px solid transparent;
  border-radius: 4px;
  color: #000;
  background: transparent !important;
}

.Textarea::placeholder {
  color: lightgray;
}

.TextareaEditable:hover {
  border-color: rgb(226, 226, 226);
}

.Textarea:focus {
  color: #35383a;
  background-color: #fff;
  border-color: rgb(17, 100, 224);
  outline: none;
}

.TextareaActionBar {
  margin-top: 6px;
  margin-left: 38px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  opacity: 0.8;
}

.CommentsContainer {
  position: absolute;
  bottom: 0px;
  right: 0px;
  opacity: 0;
  transition: all 0.1s ease-in;
}

/* .CommentsContainer:hover {
  opacity: 1;
} */

.CommentCount {
  position: absolute;
  top: -6px;
  right: -6px;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 13px;
  font-weight: 500;
  border-radius: 50%;
  padding: 2px;
  opacity: 0.8;
  transform: scale(0.75);
}

.TooltipOverAttitude {
  /* position: fixed; */
  /* overflow: auto; */
  max-width: 300px;
  max-height: 600px;
  overflow: auto;
  margin: 0px 0px !important;
  padding: 0px 0px !important;
  border-radius: 5px !important;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19) !important;
  opacity: 1 !important;
  background-color: white !important;
  pointer-events: auto !important;
  z-index: 1200 !important;
}

.TooltipOverAttitude:hover {
  visibility: visible !important;
  opacity: 1 !important;
}

.AnnotationSelectedLayer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: #f8c471;
}

.AnnotationSelectedLayer:hover {
  opacity: 1;
  cursor: pointer;
}
