.ColumnHeaderCell {
  position: relative;
}

.ColumnHeaderCellContainer {
  box-sizing: border-box;
  min-width: 150px;
  min-height: 60px;
  padding: 0px 0px 10px 0px;
  font-weight: 500;

  transition: all 0.15s ease-in;
  /* border-top: none !important; */
}

.DeleteColumnIconContainer {
  position: absolute;
  top: -25px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.DeleteColumnIcon {
  cursor: pointer;
  opacity: 0.3;
  transition: all 0.15s ease-in;
}

.DeleteColumnIcon:hover {
  opacity: 1;
}

.CellContentContainer {
  box-sizing: border-box;
  min-width: 150px;
  min-height: 100px;
  padding: 0px 0px 10px 0px;
  font-weight: 500;

  transition: all 0.15s ease-in;
  /* border-left: none !important; */

  display: flex;
  justify-content: center;
  align-items: center;
}

.CellContentEditContainer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.TextAreaContainer {
  flex: 1;
  margin-left: 5px;
}

.Textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  resize: none;
  overflow: auto;

  font-size: 14px;
  font-weight: 500;
  padding: 2px 4px;

  border: 1px solid transparent;
  border-radius: 4px;
  color: #000;
  background: transparent !important;
}

.Textarea::placeholder {
  color: lightgray;
}

.Textarea:hover {
  border-color: rgb(226, 226, 226);
}

.Textarea:focus {
  color: #35383a;
  background-color: #fff;
  border-color: rgb(17, 100, 224);
  outline: none;
}

.CommentsContainer {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.CommentCount {
  position: absolute;
  top: -6px;
  right: -6px;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 13px;
  font-weight: 500;
  border-radius: 50%;
  padding: 2px;
  opacity: 0.8;
  transform: scale(0.75);
}
