.CurrentTask {
  display: flex;
  flex-flow: column;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 1.15rem;
  width: 100%;
}

.Title {
  display: flex;
  align-items: center;
}

.Label {
  font-weight: 800;
  margin: 10px 0px;
}

.StatusButtonsContainer {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.StatusButton {
  display: flex;
  align-items: center;
  font-size: 0.95rem;

  padding: 3px 6px;
  border-radius: 4px;
  margin: 0px 10px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.08), 0 2px 2px 0 rgba(0,0,0,0.06);

  color: rgb(210, 210, 210);
  background-color: rgb(254, 254, 254);

  cursor: pointer;
  transition: 0.1s all ease-in;
}

.StatusButton:hover {
  transform: scale(1.05);
}

.TaskNameContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  height:38%;
  padding-left: 10px;
  padding-right: 0px;
  border: 1px solid rgba(34,36,38,.15);
  color: rgba(0,0,0,.87);
  border-radius: 10px;
}

.TaskName {
  /* text-transform: capitalize; */
  width: 85%;

}

.TaskName:focus {
  outline: none;
}

.TaskSelect {
  width: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
