.TableViewContainer {
  box-sizing: border-box;
  margin: 10px;
}

.TableNameContainer {
  font-size: 15px;
  font-weight: 500;
  max-width: 400px;
}

.Textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  resize: none;
  font-size: inherit;
  font-weight: 500;
  overflow: auto;

  padding: 6px 8px;

  border: 1px solid transparent;
  border-radius: 8px;
  color: #000;
  background: transparent !important;
}

.Textarea:hover {
  border-color: rgb(226, 226, 226);
}

.Textarea:focus {
  color: #35383a;
  font-weight: 500;
  background-color: #fff;
  border-color: rgb(17, 100, 224);
  outline: none;
}

/* 
 * 
 *
 *
 Table Content */
.TableContentContainer {
  margin: 20px;
}

table.ComparisonTable {
  border-collapse: collapse;
  margin: 0px 0px;
  font-size: 14px;
}

.ComparisonTable th,
.ComparisonTable td {
  position: relative;
}

.ComparisonTable th {
  text-align: left;
  padding: 3px 3px;
  border: 1px solid #ddd;
}

.ComparisonTable tr {
  /* border-bottom: 1px solid #ddd; */
}

/* .ComparisonTable th, */
.ComparisonTable td {
  padding: 3px 3px;
  text-align: left;
  border: 1px solid #ddd;
}

.CreateNewButton {
  cursor: pointer;
  font-weight: 500;
  opacity: 0.5;
  transition: all 0.1s ease-in;
}

.CreateNewButton:hover {
  opacity: 1;
}

.AddRowButtonContainer {
  position: absolute;
  left: 0;
  right: 0;
  top: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  transition: all 0.15s ease-in;
}

.AddRowButtonContainer:hover {
  opacity: 1;
}

.AddColumnButtonContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  transition: all 0.15s ease-in;
}

.AddColumnButtonContainer:hover {
  opacity: 1;
}
