.RequirementInTableHeaderContainer {
  display: flex;
  align-items: center;
  min-width: 250px;
  flex-shrink: 0;
}

.ShowHideRequirement {
  position: absolute;
  top: 4px;
  right: 6px;
  z-index: 999999;
}

.ShowHideRequirementIcon {
  cursor: pointer;
  opacity: 0.05;
  font-size: 1.0rem;
  transition: all 0.1s ease-in;
}

.ShowHideRequirementIcon:hover {
  opacity: 0.8;
}

.RequirementNameContainer {
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  font-size: 1.1rem;
  text-overflow: ellipsis;
  max-height: 220px;
  max-width: 250px;
  overflow: auto;
  cursor: default;
  transition: all 0.1s ease-in;
}

/* .RequirementNameContainer:hover {
  z-index: 99999;
  transform: scale(1.05);
} */

.InactiveRequirement {
  opacity: 0.1;
}



/* Legacy Code above */

.Ordinal {
  cursor: move;
  margin-bottom: 6px;
  padding: 3px 6px;
  text-align: center;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  color: white;
  background-color: #4a8bfc;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 2px 4px rgba(0, 0, 0, 0.12);
}

.Ordinal:hover {
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.OrdinalContainer:hover ~ .Requirement {
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}


.RequirementContainer {
  display: flex;
  flex-flow: column;
  justify-items: center;
  margin: 5px 10px;
  min-width: 100px;
  max-width: 250px;
}

.OrdinalContainer {
  margin-bottom: 5px;
}

.Requirement {
  color: #333;
  font-weight: 300;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  background-color: #fff;
  padding: 3px 10px;
  border-radius: 5px;
  border: 3px solid transparent;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.1);
  outline: none;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-around;

  transition: all 0.1s ease-in;
}

.PromptAutoSaved {
  margin-left: 5px;
  font-size: 0.75rem;
  color: inherit;
  opacity: 0.8;
  margin-top: 5px;
}

.Requirement:hover {
  box-shadow: 4px 4px 6px rgba(0,0,0,0.2);
}

.RequirementContentRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.RequirementText {
  font-size: 0.9rem;
  font-weight: 500;
}

.RequirementText:focus {
  outline: none;
}

.MoreIconContainer {
  margin-left: 2px;
  margin-right: -10px;
  width: 15px;
  display: flex;
  justify-content: space-around;
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  opacity: 0;
}

.Requirement:hover .MoreIconContainer {
  opacity: 0.9;
}

.PopoverContainer {
  border-radius: 2px;
  border-width: 0;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  z-index: 10000;
}

.PopoverContentContainer {
  
}

.PopoverContentContainer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.PopoverContentContainer ul li {
  display: flex;
  align-items: center;
  padding: 5px 10px 5px 6px;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.PopoverContentContainer ul li:hover {
  background-color: #eee;
}

.DeleteLi:hover {
  background-color: red !important;
  color: #fff;
}

.IconBoxInPopover {
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.IconInPopover {
  
}




.RequirementStar {
  position: absolute;
  top: -10px;
  left: -10px;
  color: rgb(255, 232,90);
  transition: all 0.1s ease-in;
  opacity: 0;
}

.ActiveStar {
  opacity: 1;
}