.RequirementInTableHeaderContainer {
  display: flex;
  align-items: center;
  min-width: 150px;
  flex-shrink: 0;
}

.ShowHideRequirement {
  position: absolute;
  top: 4px;
  right: 6px;
  z-index: 999999;
}

.ShowHideRequirementIcon {
  cursor: pointer;
  opacity: 0.05;
  font-size: 1.0rem;
  transition: all 0.1s ease-in;
}

.ShowHideRequirementIcon:hover {
  opacity: 0.8;
}

.RequirementNameContainer {
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  font-size: 1.1rem;
  text-overflow: ellipsis;
  max-height: 220px;
  max-width: 250px;
  overflow: auto;
  cursor: default;
  transition: all 0.1s ease-in;
}

.RequirementText:focus {
  outline: none;
}

/* .RequirementNameContainer:hover {
  z-index: 99999;
  transform: scale(1.05);
} */

.InactiveRequirement {
  opacity: 0.1;
}

.RequirementStar {
  color: rgb(255, 232,90);
  transition: all 0.1s ease-in;
  opacity: 0;
  cursor: pointer;
}

.RequirementStar:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

.ActiveStar {
  opacity: 1;
}

.Ordinal {
  cursor: move;
  margin-right: 6px;
  padding: 3px 6px;
  width: 30px;
  text-align: center;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 500;
  color: white;
  background-color: #4a8bfc;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 2px 4px rgba(0, 0, 0, 0.12);
}
