.SourcesComponentContainer {
  width: 100%;
  font-size: 11px;
}

.SwitchContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 10px;
  font-weight: 300;
}

.Switch {
  margin: 0px 4px;
}

.DomainEntryContainer {
  display: flex;
  align-items: center;

  margin: 4px 0px;
  padding: 1px 3px;

  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: transparent;
  box-sizing: border-box;

  position: relative;
}

/* .DomainEntryContainer:hover {
  border-bottom-width: 1px;
} */

.DomainEntryContainer img {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  z-index: 1001;
  flex-shrink: 0;
}

.DomainEntryContainer .DomainName {
  z-index: 1001;
  /* min-width: 140px; */
  margin-right: 4px;
  user-select: none;
  font-style: italic;
  font-size: 1.1em;
  flex-shrink: 0;
}

.DomainEntryContainer .PiecesInDomainContainer {
  flex-grow: 1;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.InlineHoverObserver {
  display: inline;
}

.DomainEntryContainer .DomainStats {
  flex-shrink: 0;
  width: 60px;
  text-align: right;
  z-index: 1001;
  margin-right: 4px;
}

.DomainEntryPercentage {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(235, 235, 235);
  z-index: 1000;
  opacity: 0.2;
}

.PiechartContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
