.SingleTaskPageContainer {
  width: 100%;
  height: 100%;
}

.LeftPane {
  height: 100%;
  margin-right: 10px;
  /* border-right: 1px solid rgb(230, 230, 230); */
}

.RightPane {
  height: 100%;
  width: 100%;
  overflow: auto;
}
