.AppHeader {
  margin: 10px;
  margin-left: 50px;
  display: flex;
  align-items: center;
}

.HeaderText {
  margin-left: 15px;
  font-size: 1.15rem;
}

.LetterC {
  color: #4285f4;
}

.LetterH {
  color: #ea4335;
}

.LetterR {
  color: #fbbc05;
}

.LetterO {
  color: #4285f4;
}

.LetterM {
  color: #34a853;
}

.LetterE {
  color: #ea4335;
}

.HeaderIconContainer {
  margin-left: 10px;
  display: flex;
}

.IconInHeader {
  margin-left: 15px;
  font-size: 1.3rem;
  color: inherit;
  opacity: 0.8;
  padding: 0;
  cursor: pointer;
  transition: 0.1s all ease-in;
}

.IconInHeader:hover {
  transform: scale(1.15);
  opacity: 0.75;
}