.AppHeader {
  margin-bottom: 10px;
  height: 36px;
  padding: 6px 10px 6px 10px;
  display: flex;
  align-items: center;
  background-color: rgba(251, 251, 251, 1);
  box-shadow: 0 2px 6px 0 rgba(60, 64, 67, 0.15);
  box-sizing: border-box;
}

.isLoggedIn {
  justify-content: space-between;
}

.isNotLoggedIn {
  justify-content: space-between;
}

.HeaderText {
  font-size: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.AppVersion {
  font-size: 0.7rem;
  opacity: 0.8;
  align-self: flex-start;
}

.SignInOutButtonInline {
  color: rgb(194, 40, 27);
  cursor: pointer;
}

.HeaderIconContainer {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.HeaderButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.05rem;

  border-radius: 5px;
  padding: 3px 8px;
  opacity: 0.8;
  background-color: #fefefe;
  color: inherit;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease-in;
}

.HeaderButton:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #efefef;
}

.IconInButton {
  margin-right: 6px;
}

/* .IconInHeader {
  margin-left: 20px;
  font-size: 1.4rem;
  color: inherit;
  opacity: 0.7;
  padding: 0;
  cursor: pointer;
  transition: 0.1s all ease-in;
}

.IconInHeader:hover {
  transform: scale(1.15);
  opacity: 0.8;
} */

.Profile {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 30px;
  margin-right: -4px;
  font-size: 0.9rem;
  padding: 3px 5px;
  border-radius: 5px;
  transition: all 0.1s ease-in;
}

.Profile:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #eee;
}

.ProfileImg {
  width: 18px;
  height: 18px;
  margin-right: 5px;
  border: 1px solid grey;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.LogoutPopoverContainer {
  /* background-color: black;
  color: white; */
  background-color: white;
  color: #666;
  font-weight: 100;
  font-size: 0.9rem;
  text-decoration: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.PopoverContentContainer {
}

.PopoverContentContainer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.PopoverContentContainer ul li {
  display: flex;
  align-items: center;
  padding: 5px 10px 5px 6px;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.PopoverContentContainer ul li:hover {
  background-color: #eee;
}

.IconBoxInPopover {
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.IconInPopover {
}

.SpinnerContainer {
  position: absolute;
  top: 7px;
  left: 8px;
}

.MenuItem {
  cursor: pointer;
  padding: 5px 10px 5px 6px;
  transition: all 0.1s ease-in;
}

.MenuItem:hover {
  background-color: #eee;
}

.Label {
  color: rgb(97, 96, 96);
  transition: all 0.1s ease-in;
}
