.RegularCell {
  position: relative;
  transition: all 0.15s ease-in;
}

.HoverToReveal {
  opacity: 0;
  transition: all 0.1s ease-in;
}

.HoverToDisplay {
  display: none;
}

.RegularCell:hover .CommentsContainer,
.RegularCell:hover .HoverToReveal {
  opacity: 1;
}

.RegularCell:hover .HoverToDisplay {
  display: unset;
}

.AddManualRatingPopoverContainer {
}

.AddManualRatingPopoverContainer .RatingEditContainer {
  display: flex;
  align-items: center;

  padding: 3px 3px;
}

.AddManualRatingPopoverContainer .RatingsSelectionPane {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.AddManualRatingPopoverContainer .RatingToSelectContainer {
  width: 20px;
  height: 20px;
  margin: 2px;
  cursor: pointer;
  opacity: 0.2;
  transition: all 0.05s ease-in;
  border-radius: 50%;
  border: 1px solid transparent;
}

.AddManualRatingPopoverContainer .SelectedRating,
.AddManualRatingPopoverContainer .RatingToSelectContainer:hover {
  opacity: 1;
  transform: scale(1.1);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.AddManualRatingPopoverContainer .RatingContentPane {
  width: 150px;
  margin-right: 4px;
}

.RatingTextarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  resize: none;
  overflow: auto;

  font-size: 11px;
  font-weight: 500;
  padding: 2px 4px;

  border: 1px solid rgb(226, 226, 226);
  border-radius: 4px;
  color: #000;
  background: transparent !important;
}

.RatingTextarea:focus {
  color: #35383a;
  background-color: #fff;
  border: 1px solid rgb(17, 100, 224);
  outline: none;
}

.AddManualRatingPopoverContainer .SaveButtonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1px;
}

.HoverLayer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  transition: all 0.15s ease-in;
}

.HoverLayerPane {
  flex-basis: 50%;
  height: 100%;
  z-index: auto;
}

.RegularContentContainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  max-width: 320px;
}

.EvidenceIconContainer {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.EvidenceIconContainerVariantI {
  width: 100%;
  height: 100%;
  min-height: 90px;
}

.AttitudeInTableContainerVariantI {
  margin: 5px 5px;
  display: inline-flex;
}

.AttitudeInTableContainerVariantI.Normal {
  opacity: 1;
}

.AttitudeInTableContainerVariantI.Fade {
  opacity: 0.2;
}

.AttitudeIconVariantI {
  display: inline-block;
  margin-right: 5px;
  width: 40px;
  height: 40px;
  transition: all 0.15s ease-in;
  border-radius: 50%;
  border: 2px solid transparent;
}

/* .AttitudeInTableContainerVariantI:hover .AttitudeIconVariantI {
  transform: scale(1.1);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
} */

.AttitudeIconVariantI:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

/* .AttitudeInTableContainerVariantI:hover .PieceNameContainer {
  opacity: 0;
} */

.PieceNameContainer {
  font-size: 13px;
  font-weight: 400;
}

/* .AttitudeInTableContainerVariantI:hover .TagsContainer {
  opacity: 0;
} */

.TagsContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-style: italic;
}

.TagSpan {
  display: inline-flex;
  align-items: center;
  border-radius: 6px;
  padding: 2px 4px;
  font-size: 11px;
  margin: 2px 2px;
  border: 1px solid rgb(224, 224, 224);
}

a.TagSpan {
  text-decoration: none;
  transition: all 0.1s ease-in;
}

a.TagSpan span {
  font-size: 11px;
  margin-left: 4px;
}

a.TagSpan:hover {
  background-color: rgb(235, 235, 235);
}

.TagSpan .Icon {
  width: 16px;
  height: 16px;
  margin-right: 2px;
}

.VoteIcon {
  color: rgb(98, 166, 110);
}

.VoteIconNegative {
  color: rgb(231, 74, 46);
}

.AcceptedIcon {
  color: rgb(98, 166, 110);
}

.TimeIcon {
  color: gray;
}

.CodeIcon {
  color: #666;
}

.AttitudeInTableCell {
  display: inline-block;
  margin-right: 5px;
  width: 40px;
  height: 40px;
  transition: all 0.15s ease-in;
  border-radius: 50%;
  border: 2px solid transparent;
  /* z-index: 9999; */
}

/* .AttitudeInTableCellIsShowing, */
.AttitudeInTableCell:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.TooltipOverAttitude {
  /* position: fixed; */
  /* overflow: auto; */
  max-width: 400px;
  max-height: 600px;
  overflow: auto;
  margin: 0px 0px !important;
  padding: 0px 0px !important;
  border-radius: 5px !important;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19) !important;
  opacity: 1 !important;
  background-color: white !important;
  pointer-events: auto !important;
  z-index: 1200 !important;
}

.TooltipOverAttitude:hover {
  visibility: visible !important;
  opacity: 1 !important;
}

.CellContentContainer {
  box-sizing: border-box;
  min-width: 150px;
  min-height: 100px;
  padding: 0px 0px 10px 0px;
  font-weight: 500;

  transition: all 0.15s ease-in;
  /* border-left: none !important; */

  display: flex;
  justify-content: center;
  align-items: center;
}

.CellContentEditContainer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.TextAreaContainer {
  flex: 1;
  margin-left: 5px;
  margin-right: 5px;
}

.Textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  resize: none;
  overflow: auto;

  font-size: 14px;
  font-weight: 500;
  padding: 2px 4px;

  border: 1px solid transparent;
  border-radius: 4px;
  color: #000;
  background: transparent !important;
}

.Textarea::placeholder {
  color: lightgray;
}

.TextareaEditable:hover {
  border: 1px solid rgb(226, 226, 226);
}

.Textarea:focus {
  color: #35383a;
  background-color: #fff;
  border: 1px solid rgb(17, 100, 224);
  outline: none;
}

.CommentsContainer {
  position: absolute;
  bottom: 0px;
  right: 0px;
  opacity: 0;
  transition: all 0.1s ease-in;
}

/* .CommentsContainer:hover {
  opacity: 1;
} */

.CommentCount {
  position: absolute;
  top: -6px;
  right: -6px;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 13px;
  font-weight: 500;
  border-radius: 50%;
  padding: 2px;
  opacity: 0.8;
  transform: scale(0.75);
}
