.RegularCell {
  position: relative;
  transition: all 0.15s ease-in;
}

.RegularCell:hover .CommentsContainer {
  opacity: 1;
}

.HoverLayer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
}

.HoverLayerPane {
  flex-basis: 50%;
  height: 100%;
  z-index: auto;
}

.RegularContentContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.EvidenceIconContainer {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.AttitudeInTableCell {
  font-size: 1.8rem;
  margin-right: 5px;
  width: 40px;
  height: 40px;
  transition: all 0.15s ease-in;
  border-radius: 50%;
  border: 2px solid transparent;
  /* z-index: 9999; */
}

/* .AttitudeInTableCellIsShowing, */
.AttitudeInTableCell:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.TooltipOverAttitude {
  /* position: fixed; */
  /* overflow: auto; */
  max-width: 300px;
  margin: 0px 0px !important;
  padding: 0px 0px !important;
  border-radius: 5px !important;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19) !important;
  opacity: 1 !important;
  background-color: white !important;
  pointer-events: auto !important;
  z-index: 1200 !important;
}

.TooltipOverAttitude:hover {
  visibility: visible !important;
  opacity: 1 !important;
}

.CellContentContainer {
  box-sizing: border-box;
  min-width: 150px;
  min-height: 100px;
  padding: 0px 0px 10px 0px;
  font-weight: 500;

  transition: all 0.15s ease-in;
  /* border-left: none !important; */

  display: flex;
  justify-content: center;
  align-items: center;
}

.CellContentEditContainer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.TextAreaContainer {
  flex: 1;
  margin-left: 5px;
}

.Textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  resize: none;
  overflow: auto;

  font-size: 14px;
  font-weight: 500;
  padding: 2px 4px;

  border: 1px solid transparent;
  border-radius: 4px;
  color: #000;
  background: transparent !important;
}

.Textarea::placeholder {
  color: lightgray;
}

.Textarea:hover {
  border-color: rgb(226, 226, 226);
}

.Textarea:focus {
  color: #35383a;
  background-color: #fff;
  border-color: rgb(17, 100, 224);
  outline: none;
}

.CommentsContainer {
  position: absolute;
  bottom: 0px;
  right: 0px;
  opacity: 0;
  transition: all 0.1s ease-in;
}

/* .CommentsContainer:hover {
  opacity: 1;
} */

.CommentCount {
  position: absolute;
  top: -6px;
  right: -6px;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 13px;
  font-weight: 500;
  border-radius: 50%;
  padding: 2px;
  opacity: 0.8;
  transform: scale(0.75);
}
