.CommentItem {
  margin: 0px;
  padding-left: 4px;
  padding-right: 0px;
  padding-bottom: 1px;
  display: flex;
  align-items: center;
}

.CommentItemExpanded {
  align-items: flex-start;
  padding-top: 4px;
}

.CommentItemCompact {
  min-height: 28px;
  align-items: center;
}

.CommentItem:nth-child(odd) {
  background-color: rgb(236, 236, 236);
}

.CommentItem:nth-child(even) {
  background-color: white;
}

.CommentContentCompact {
  font-size: 12px;
  font-weight: 300;
  color: black;
  padding-left: 4px;
}

.CommentContentExpanded {
  padding-left: 6px;
}

.CommentInfoBar {
}

.CommentAuthor {
  font-weight: 500;
  font-size: 13px;
  color: black;
}

.CommentMoment {
  margin-left: 6px;
  font-size: 11px;
  color: rgb(155, 155, 155);
  font-weight: 300;
}

.CommentContent {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 3px;
  color: black;
  white-space: pre-wrap;
}

.CommentItemEditContainer {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
}

.TextAreaContainer {
  flex: 1;
}

.Textarea {
  display: block;
  box-sizing: border-box;
  width: 98%;
  resize: none;
  overflow: auto;

  font-size: 12px;
  padding: 3px 4px;

  border: 1px solid rgb(226, 226, 226);
  border-radius: 4px;
  color: #000;
  background: transparent !important;
}

.Textarea:focus {
  color: #35383a;
  background-color: #fff !important;
  border-color: rgb(17, 100, 224);
  outline: none;
}

.TextareaActionSection {
  width: 84px;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  align-items: center;
}
