.SourcePagesViewContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.InfoBar {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
}

.InfoItem {
  margin: 0px 3px;
  cursor: pointer;
  transition: all 0.1s ease-in;
  border-radius: 10px;
  padding: 1px 6px;
}

.InfoItem:hover {
  background-color: lightgray;
}

.PopoverContainer {
  opacity: 1;
  background-color: white;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 0px 8px;
}

.ListContainer {
  flex: 1;
  overflow: scroll;
}

.ItemContainer {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;

  transition: all 0.1s ease-in;
}

.ItemContainer:hover {
  background-color: rgb(233, 233, 233);
}

.ItemContainer.Selected {
  background-color: rgb(216, 216, 216);
}

.NameContainer {
  display: flex;
  align-items: center;
}

.ItemIcon {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.TitleContent {
  flex: 1;
  font-weight: 400;
}

.TitleContent a {
  text-decoration: none;
  color: inherit;
}

.TitleContent a:hover {
  text-decoration: underline;
  color: inherit;
}

.MetaData {
  flex-shrink: 0;
  margin-left: 4px;
  font-size: 10px;
  color: gray;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.RelatedContentContainer {
  margin-left: 26px;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 500;
}
