.PanelContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 5px 5px 5px;
}

.Section {
  margin-bottom: 9px;
}

.SectionHeader {
  font-size: 16px;
  font-weight: 800;
  display: flex;
  align-items: center;
  font-family: arial, sans-serif !important;
}

.HeaderButtonAlignRight {
  flex: 1;
  text-align: right;
}

.AddButton {
  font-size: 11px;
  font-weight: 400;
  color: #666;
  cursor: pointer;
}

.AddButton:hover {
  text-decoration: underline;
}

.UpToDate {
  border-radius: 5px;
  border: 1px solid rgb(36, 168, 3);
  padding: 1px 2px;
  margin: 0px 3px;
}

.NotUpToDate {
  border-radius: 5px;
  border: 1px solid rgb(241, 46, 12);
  padding: 1px 2px;
  margin: 0px 3px;
}

.SectionHeaderIcon {
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  margin-right: 4px;
}

.SectionContent {
  font-weight: 400;
  margin-left: 16px;
  font-size: 13px;
}

.SectionContent p {
  margin: 3px 0px 0px 0px;
}

.DomainItem {
  display: inline-flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 0px 2px;
}

.DomainItem img {
  width: 12px;
  height: 12px;
}

.SectionFooter {
  margin-left: 16px;
  font-size: 13px;
}

.LinkToElsewhere {
  display: inline-block;
  text-align: left;
  font-size: 11px;
  color: #666;
  cursor: pointer;
}

.LinkToElsewhere:hover {
  text-decoration: underline;
}

.ListItem {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  color: #333;

  margin: 4px 4px;
  padding: 1px 4px;
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}

.Textarea {
  display: block;
  box-sizing: border-box;
  width: 90%;
  resize: none;
  overflow: auto;

  font-size: 13px;
  padding: 2px 4px;

  border: 1px solid transparent;
  border-radius: 4px;
  color: #000;
  background: transparent !important;
}

.Textarea:hover {
  border: 1px solid rgb(226, 226, 226);
}

.Textarea:focus {
  color: #35383a;
  background-color: #fff;
  border-color: rgb(17, 100, 224);
  outline: none;
}
