/* dual ring */
.ldsDualRing {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.ldsDualRing:after {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  margin: 1px;
  border-radius: 50%;
  border: 4px solid rgb(116, 160, 237);
  border-color: rgb(116, 160, 237) transparent rgb(116, 160, 237) transparent;
  animation: ldsDualRing 0.8s linear infinite;
}
@keyframes ldsDualRing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



/* hourglass */
.ldsHourglass {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
}
.ldsHourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid rgb(116, 160, 237);
  border-color: rgb(116, 160, 237) transparent rgb(116, 160, 237) transparent;
  animation: ldsHourglass 1.2s infinite;
}
@keyframes ldsHourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}