.LoginPage {
  
}

.WelcomeCardContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.WelcomeCard {
  margin-top: 30px;
  padding: 15px;
  background-color: rgb(247, 247, 247);
  width: 400px;
}