.CommentBox {
  padding: 0px;
  transition: all 0.1s ease-in;
}

.CommentListContainer {
  padding: 0px;
}

.EditCommentBox {
  margin-top: 6px;
  margin-bottom: 6px;
  width: 100%;
}

.TextAreaContainer {
  margin: 2px 8px 2px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Textarea {
  display: block;
  box-sizing: border-box;
  width: 97%;
  resize: none;
  overflow: auto;

  font-size: 13px;
  padding: 6px 8px;

  border: 1px solid #ced4da;
  border-radius: 4px;
  color: #495057;
  background: transparent !important;
}

.Textarea:focus {
  color: #35383a;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.TextareaActionBar {
  margin-top: 6px;
  margin-left: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  opacity: 0.8;
}
