.Avatar {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 5px;
  margin-left: 5px;

  cursor: pointer;
}

.IconInsideAvatar {
  font-size: 16px;
}

.PieceContentBox {
  display: flex;
  align-items: flex-start;
  padding-top: 4px;
  padding-left: 8px;
  /* padding-right: 6px; */
  font-size: 15px;
  font-weight: 500;
}

.InfoActionBar {
  width: 100%;
  box-sizing: border-box;
  padding-left: 8px;
  padding-right: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.SiteIcon {
  width: 14px;
  height: 14px;
  /* border-radius: 3px; */
  background: transparent;
  /* box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 1px 5px 0 rgba(0, 0, 0, 0.12); */
}

.Moment {
  margin-left: 6px;
  font-size: 11px;
  color: rgb(155, 155, 155);
  font-weight: 300;
}

.CollapseContainer {
  padding: 0px;
}

.OriginalContentContainer {
  max-width: 100%;
  padding: 2px 8px;
  max-height: 400px;
  overflow: auto;
  /* opacity: 0.8; */
  font-size: 1rem;
  /* background: rgb(228, 228, 228); */
  transition: all 0.1s ease-in;
}

/* .OriginalContentContainer:hover {
  opacity: 1.0;
} */

.HTMLPreview {
  font-size: 0.9rem;
}

.HTMLPreview:focus {
  outline: none;
}

.OriginalScreenshotContainer {
  max-width: 100%;
  padding: 2px 8px;
  overflow: auto;
}

/* original color theme (before material ui color) */
/* .SnippetColor {
  background-color: rgb(193, 40, 27);
}

.OptionColor {
  background-color: rgb(232, 173, 84);
}

.CriterionColor {
  background-color: rgb(73, 132, 233);
} */
