.PieceContainer {
  /* border: 1px solid black; */
  border-radius: 5px;
  /* box-sizing: border-box; */
  margin-top: 10px;
  padding: 0px;
  display: flex;
  height: 46px;
}

.PieceLeftDragHandle {
  flex: 0 0 24px;
  cursor: move;
  height: 100%;
  color: white;

  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  box-sizing: border-box;
  /* border: 1px solid white; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* original color theme (before material ui color) */
/* .SnippetColor {
  background-color: rgb(193, 40, 27);
}

.OptionColor {
  background-color: rgb(232, 173, 84);
}

.CriterionColor {
  background-color: rgb(73, 132, 233);
} */

.PieceRightContentBox {
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 4px;
}
