.TimelineContainer {
  width: 100%;
  box-sizing: border-box;
  font-family: sans-serif !important;
}

.QueryBlockContainer {
  margin-bottom: 12px;
}

.QueryContainer {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin: 0px 1px;

  /* margin: 4px 4px;
  padding: 4px 6px;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2); */

  position: relative;
}

.QueryCollapseButtonContainer {
  flex-shrink: 0;
  height: 100%;
  width: 12px;
  display: flex;
  align-items: center;
  margin-right: 3px;
  cursor: pointer;
  user-select: none;

  opacity: 0.6;
  transition: all 0.1s ease-in;
}

.QueryCollapseButtonContainer:hover {
  opacity: 1;
}

.QueryIconContainer {
  flex-shrink: 0;
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 3px;
}

.SearchQueryIcon {
  font-size: 15px;
}

.QueryContentContainer {
  font-weight: 600;
  font-size: 13px;
  color: #333;
}

.QueryMetaData {
  flex-shrink: 0;
  margin-left: 4px;
  font-size: 10px;
  color: #666;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.PagesContainer {
  display: flex;
  justify-content: flex-start;
  /* align-items: stretch; */
}

.PagesLeftLine {
  align-self: stretch;
  flex-shrink: 0;
  /* background-color: black; */
  width: 6px;
  /* height: 100%; */
  border-right: 1px dotted gray;
  /* margin-right: 3px; */
}

.Pages {
  flex: 1;
}

.ProgressCheckerContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -12px;
  width: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.ProgressCheckerIcon {
  font-size: 10px;
  color: green;
}

.PageBlockContainer {
  margin-left: 20px;
  margin-right: 1px;
  /* margin-right: 4px; */

  display: block;
  box-sizing: border-box;
  /* border-bottom: 1px solid #e3e3e3; */
  padding: 4px 0px;
  /* padding-right: 3px; */

  position: relative;
}

.PageNameContainer {
  display: flex;
  align-items: center;

  /* border: 1px solid gray; */

  position: relative;
}

.PageProgressBackdropContainer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.PageProgressBackdrop {
  height: 100%;
  background-color: lightgray;
}

.PageLinkLineContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -20px;
  width: 18px;

  display: flex;
  align-items: center;
  justify-content: stretch;
}

.PageLinkLine {
  height: 0;
  width: 100%;
  border: 0.5px dotted gray;
}

.ItemIcon {
  flex-shrink: 0;
  width: 14px;
  height: 14px;
  margin-right: 4px;
}

.TitleContent {
  flex: 1;
  font-weight: 400;
  line-height: 1.2em;
}

.TitleContent a {
  text-decoration: none;
  color: inherit;
}

.TitleContent a:hover {
  text-decoration: underline;
  color: inherit;
}

.PageMetaData {
  flex-shrink: 0;
  margin-left: 4px;
  font-size: 10px;
  color: #666;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.RelatedContentContainer {
  margin-left: 20px;
  margin-right: 20px;
}

.PieceItem {
  font-size: 10px;
  display: inline-flex;
  align-items: center;
  margin: 3px;
  padding: 2px 4px;
  line-height: 1.2em;
  border-radius: 4px;
  border: 1px solid #e3e3e3;
  user-select: none;

  transition: all 0.1s ease-in;
}

.PieceItem:hover {
  background-color: lightgray;
}

.PieceIconContainer {
  flex-shrink: 0;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-right: 3px;
}

.PieceIcon {
  font-size: px;
}

.InlineHoverObserver {
  display: inline;
}
