.SourceDomainsViewContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.InfoBar {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
}

.InfoItem {
  margin: 0px 3px;
  cursor: pointer;
  transition: all 0.1s ease-in;
  border-radius: 10px;
  padding: 1px 6px;
}

.InfoItem:hover {
  background-color: lightgray;
}

.PopoverContainer {
  opacity: 1;
  background-color: white;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 0px 8px;
}

.ListContainer {
  flex: 1;
  overflow: scroll;
}

.SourceDomainItemContainer {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;

  transition: all 0.1s ease-in;
}

/* .SourceDomainItemContainer:hover {
  background-color: lightgray;
} */

.DomainNameContainer {
  display: flex;
  align-items: center;
}

.DomainIcon {
  width: 28px;
  height: 28px;
  margin-right: 6px;
}

.DomainTitle {
  font-size: 18px;
  font-weight: 500;
  margin-right: 5px;
}

.DomainStats {
  font-size: 12px;
  color: gray;
}

.CollapseIcon {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  color: gray;
  cursor: pointer;
}

.DomainPagesContainer {
  margin-top: 5px;
  margin-left: 20px;
}

.PageItemContainer {
  /* background-color: lightgray; */
  margin: 12px 0px;
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease-in;
}

.PageItemContainer:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.PageProgressIndicator {
  height: 3px;
  background-color: rgb(201, 200, 200);
}

.PageNameContainer {
  display: flex;
  align-items: center;
  padding: 3px 8px 5px 10px;
}

.PageTitleContent {
  flex: 1;
}

.PageTitleContent a {
  text-decoration: none;
  color: inherit;
}

.PageTitleContent a:hover {
  text-decoration: underline;
}

.PageMetaInfo {
  margin-left: 6px;
  font-size: 11px;
  font-weight: 300;
  color: gray;
}

.PageSnippetsInfoContainer {
  margin-left: 10px;
  padding: 0px 10px 6px 0px;
}

.PageSnippetsInfoContainer span {
  margin-right: 6px;
  display: inline-flex;
  align-items: center;
}

.PageSnippetsInfoContainer .Avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4px;
}

.PageSnippetsInfoContainer .IconInsideAvatar {
  font-size: 10px;
}
